@using silo_project.ViewModel
@model AddSiloViewModel
@{
    int i = 1;
}
<h4 class="bg-success text-light">This is the Add silo page</h4>

<div class="text-center">
    <div class="container">
        <div class="row">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Device ID</th>
                        <th scope="col">Command ID</th>
                        <th scope="col">Zero Value</th>
                        <th scope="col">Scale Value</th>
                        <th scope="col">Allow Download</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Is Active</th>
                        <th scope="col">Is Registered</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var silo in Model.allSilos)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@silo.Name</td>
                            <td>@silo.Capacity</td>
                            <td>@silo.DeviceID</td>
                            <td>@silo.CommandID</td>
                            <td>@silo.ZeroValue</td>
                            <td>@silo.ScaleValue</td>
                            <td>@silo.AllowDownload</td>
                            <td>@silo.Weight</td>
                            <td>@silo.IsActive</td>
                            <td>@silo.IsRegistered</td>
                            <td><button asp- type="button" class="btn btn-primary">Edit</button></td>
                            <td><button asp- type="button" class="btn btn-danger">Delete</button></td>
                        </tr>
                        i++;
                    }
                    <form enctype="multipart/form-data" asp-controller="Home" asp-action="AddSilo" method="post">

                        <tr>
                            <th scope="row">@i</th>
                            <td><input asp-for="silo.Name" placeholder="Name" /></td>
                            <td><input asp-for="silo.Capacity" /></td>
                            <td><input asp-for="silo.DeviceID" /></td>
                            <td><input asp-for="silo.CommandID" /></td>
                            <td><input asp-for="silo.ZeroValue" /></td>
                            <td><input asp-for="silo.ScaleValue" /></td>
                            <td><input asp-for="silo.AllowDownload" /></td>
                            <td><input asp-for="silo.Weight" /></td>
                            <td><input asp-for="silo.IsActive" /></td>
                            <td><input asp-for="silo.IsRegistered" /></td>
                            <td><button type="submit" class="btn btn-info">Add</button></td>
                            <td><a asp-controller="Home" asp-action="Index" type="button" class="btn btn-secondary">Cancel</a></td>
                        </tr>
                    </form>
                </tbody>
            </table>
        </div>
        <div class="row">
        </div>
        <div class="row ">
            <a asp-controller="Home" asp-action="AddSilo" class="btn btn-success text-light offset-9 col-3">Add a Silo</a>
        </div>
    </div>
</div>