@using silo_project.ViewModel
@model Record_ViewModel
@{
    ViewData["Title"] = "Records Page";
    int i = 1;
}


<div class="text-center">
    <div class="container">
        <div class="row">

            @*Side Bar*@
            <div class="col-2 p-0 ">
                <div class="row">
                    <a class="btn btn-dark disabled float-left btn-block text-light mb-2">Filter</a>
                </div>
                <form enctype="multipart/form-data" asp-controller="Home" asp-action="Record" method="post">
                    <div class="form-group pb-2 pr-2 row ">
                        <select asp-for="@Model.siloName" class="form-control">
                            <option selected>@Model.siloName</option>
                            <option >All</option>
                            @foreach (var siloName in Model.siloNames)
                            {
                                <option>@siloName</option>
                            }
                        </select>
                        <button type="submit" class="btn btn-primary">Select</button>
                    </div>


                </form>



                    @*<form enctype="multipart/form-data" asp-controller="Home" asp-action="AddRecord" method="post">
                        <tr>
                            <th scope="row">@i</th>
                            <td><input asp-for="@Model.record.Silo.Name" placeholder="Name" class="form-control" style="width:100px" /></td>
                            <td><input asp-for="@Model.record.EnDate" placeholder="En Date" class="form-control" style="width:170px" /></td>
                            <td><input asp-for="@Model.record.PeDate" placeholder="Pe Date" class="form-control" style="width:170px" /></td>
                            <td><input asp-for="@Model.record.Time" placeholder="Time" class="form-control" style="width:95px" /></td>
                            <td><input asp-for="@Model.record.Weight" placeholder="Weight" class="form-control" style="width:90px" /></td>
                            <td><button type="submit" class="btn btn-info">Add</button></td>
                            <td><a asp-controller="Home" asp-action="Record" type="button" class="btn btn-secondary">Cancel</a></td>
                        </tr>
                    </form>
                    }*@

               

                @*Area for showing records*@
            </div>
            <div class="col-10">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Silo Name</th>
                            <th scope="col">En Date</th>
                            <th scope="col">Pe Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Weight</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>

                    @if (Model.allRecords != null)
                    {
                        <tbody>
                            @foreach (var record in Model.allRecords)
                            {
                                <tr>
                                    <th scope="row">@i</th>
                                    <td>@record.Silo.Name</td>
                                    <td>@record.EnDate</td>
                                    <td>@record.PeDate</td>
                                    <td>@record.Time</td>
                                    <td>@record.Weight</td>

                                    <td><a type="button" asp-controller="Home" asp-action="UpdateRecord" asp-route-id="@record.ID" class="btn btn-primary">Edit</a></td>
                                    <form asp-controller="Home" asp-action="DeleteRecord" asp-route-id="@record.ID" method="post">
                                        <td><button type="submit" class="btn btn-danger">Delete</button></td>
                                    </form>
                                </tr>
                                i++;

                            }



                            @if (ViewBag.type == "create")
                            {
                                <form enctype="multipart/form-data" asp-controller="Home" asp-action="AddRecord" method="post">
                                    <tr>
                                        <th scope="row">@i</th>
                                        <td><input asp-for="@Model.record.Silo.Name" placeholder="Name" class="form-control" style="width:100px" /></td>
                                        <td><input asp-for="@Model.record.EnDate" placeholder="En Date" class="form-control" style="width:170px" /></td>
                                        <td><input asp-for="@Model.record.PeDate" placeholder="Pe Date" class="form-control" style="width:170px" /></td>
                                        <td><input asp-for="@Model.record.Time" placeholder="Time" class="form-control" style="width:95px" /></td>
                                        <td><input asp-for="@Model.record.Weight" placeholder="Weight" class="form-control" style="width:90px" /></td>
                                        <td><button type="submit" class="btn btn-info">Add</button></td>
                                        <td><a asp-controller="Home" asp-action="Record" type="button" class="btn btn-secondary">Cancel</a></td>
                                    </tr>
                                </form>
                            }


                            @if (ViewBag.type == "update")
                            {
                                <form enctype="multipart/form-data" asp-controller="Home" asp-action="UpdateRecord" method="post">
                                    <tr>
                                        <th scope="row">@i</th>
                                        <input asp-for="@Model.record.ID" placeholder="@Model.record.ID" hidden />

                                        <td>
                                            <div class="form-group">
                                                <select asp-for="@Model.record.Silo.Name" id="inputState" class="form-control" style="width:100px">
                                                    <option selected>Choose...</option>
                                                    @foreach (var name in Model.siloNames)
                                                    {
                                                        <option>@name</option>
                                                    }
                                                </select>
                                            </div>
                                        </td>


                                        <td><input asp-for="@Model.record.EnDate" placeholder="En Date" class="form-control" style="width:170px" /></td>
                                        <td><input asp-for="@Model.record.PeDate" placeholder="Pe Date" class="form-control" style="width:170px" /></td>
                                        <td><input asp-for="@Model.record.Time" placeholder="Time" class="form-control" style="width:95px" /></td>
                                        <td><input asp-for="@Model.record.Weight" placeholder="Weight" class="form-control" style="width:90px" /></td>
                                        <td><button type="submit" class="btn btn-info">Update</button></td>
                                        <td><a asp-controller="Home" asp-action="Record" type="button" class="btn btn-secondary">Cancel</a></td>
                                    </tr>
                                </form>
                            }
                        </tbody>
                    }
                    else
                    {
                        <p>please Select a Filer</p>
}
                </table>
            </div>
        </div>
        <div class="row ">
            <a asp-controller="Home" asp-action="AddRecord" class="btn btn-success text-light offset-9 col-3">Add a Record</a>
        </div>
    </div>
</div>
